body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  font-size: 16px;
  background: #859e90 url(../images/background.png) repeat;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../images/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper-content {
  max-width: 1200px;
  min-width: 898px;
  margin: 0 auto;
  padding: 0 2.3%;
  box-sizing: border-box;
}

.row {
  border-radius: 15px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 9px;
}

.header-inner-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.main-logo {
  margin-right: 26px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav>li {
  margin-right: 26px;
  position: relative;
  list-style: none;
}

.main-nav>li a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}

.main-nav-inner {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 10;
}

.user-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-block .user {
  margin-left: 10px;
  background-color: #a1b6aa;
  border-radius: 100px;
}

.user-block .search {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-image: url(../images/loop.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #a1b6aa;
  border-radius: 50%;
}

.user-block .entrance {
  padding: 10px 20px 10px 45px;
  position: relative;
}

.user-block .entrance:before {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  background-image: url(../images/entrance_icon.png);
  background-repeat: no-repeat;
  top: 24%;
  left: 14px;
}

.user-block .basket {
  padding: 10px 44px;
  position: relative;
}

.user-block .basket:before {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../images/basket_icon.png);
  background-repeat: no-repeat;
  top: 24%;
  left: 14px;
}

.user a {
  display: block;
  color: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.header-bottom {
  display: flex;
  justify-content: flex-end;
}

.header-bottom adress {
  display: block;
  color: #fff;
  font-weight: bold;
}

.header-bottom .adress {
  display: block;
}

.adress.time-work {
  font-size: 14px;
  line-height: 16px;
}

.adress.phone {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  padding-top: 270px;
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 66.08%;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 60.5px;
  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  padding: 12px 50px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

body input[name="toggle"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../images/slider-1.png");
}

#btn-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../images/slider-2.png");
}

#btn-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../images/slider-3.png");
}

#btn-1:checked~.site-wrapper #slide1, #btn-2:checked~.site-wrapper #slide2, #btn-3:checked~.site-wrapper #slide3 {
  display: block;
}

#btn-1:checked~.site-wrapper label[for="btn-1"], #btn-2:checked~.site-wrapper label[for="btn-2"], #btn-3:checked~.site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.slide-btn {
  line-height: 44px;
  font-size: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 35px;
}

.benefits .promo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 46.6%;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promo h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 41px;
}

.promo p {
  margin: 0;
  margin-bottom: 45px;
}

.promo .btn {
  padding: 15px 24px 15px 22px;
  align-self: flex-end;
}

.benefits .promo-1 {
  margin-right: 2.2%;
  overflow: hidden;
  background: #b5214a url(../images/berries_background.jpg) no-repeat 50% 50%;
}

.benefits .promo-2 {
  background: #281108 url(../images/choco_background.jpg) no-repeat 50% 50%;
}

.list-main {
  margin-bottom: 40px;
}

.list ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list .list-item {
  width: 22.25%;
  margin: 0;
  margin-right: 2.2%;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  position: relative;
  background-color: inherit;
}

.list-item img {
  border-radius: 50%;
  z-index: 0;
}

.list-item .hit {
  position: absolute;
  display: block;
  width: 61px;
  height: 61px;
  background-image: url(../images/hit.png);
  background-size: 61px 61px;
  top: 0;
  left: 0;
}

.list-item a {
  display: block;
  color: #fff;
}

.list-item .price {
  position: absolute;
  font-size: 42px;
  line-height: 45px;
  color: #fff;
  font-weight: bold;
  top: 59%;
}

.list-item .name {
  margin: 0;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
}

.list-item .kilo {
  font-size: 22px;
  line-height: 45px;
}

.about {
  display: block;
  padding: 20px 30px;
  margin-bottom: 35px;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  background: #eee3c7 url(../images/waffel_pattern.png) repeat 50% 50%;
}

.about .about-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bolder;
}

.about-inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.about-inner-left, .about-inner-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 46.6%;
  flex-shrink: 1;
  flex-grow: 1;
  margin-right: 40px;
}

.about-inner-left p, .about-inner-right p {
  margin: 0;
  padding-left: 55px;
  position: relative;
}

.about-inner-left p:first-child, .about-inner-right p:first-child {
  margin-bottom: 25px;
}

.ice-cream::before {
  position: absolute;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -1%;
  background: url(../images/ice_cream_icon.png) no-repeat 50% 50%;
}

.leaf::before {
  position: absolute;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  top: -16px;
  left: -1%;
  background: url(../images/leaf-icon.png) no-repeat 50% 50%;
}

.caw::before {
  position: absolute;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -1%;
  background: url(../images/caw_icon.png) no-repeat 50% 50%;
}

.termo::before {
  position: absolute;
  content: "";
  display: block;
  width: 49px;
  height: 49px;
  top: -16px;
  left: -1%;
  background: url(../images/termo_icon.png) no-repeat 50% 50%;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.info .blog, .info .subscribe {
  display: block;
  width: 46.60%;
  padding-left: 20px;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
}

.info .blog {
  padding-top: 25px;
  padding-bottom: 72px;
  padding-right: 18.07%;
  margin-right: 2.2%;
  text-align: left;
  background: #fff url(../images/strawberry_background.jpg) no-repeat 0 50%;
  color: #000;
}

.info .blog p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: bolder;
}

.info .blog a {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.info .subscribe {
  padding-top: 30px;
  background-color: #f8f7f4;
}

.subscribe.border {
  box-sizing: border-box;
  padding-left: 21px;
  padding-right: 21px;
  border: 6px solid transparent;
  border-image-source: url(../images/post_pattern.png);
  border-image-repeat: repeat;
  border-image-slice: 3 3;
}

.subscribe p {
  margin: 0;
  margin-bottom: 38px;
}

.subscribe form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.subscribe input[type="email"] {
  width: 65.71%;
  height: 41px;
  margin-right: 11px;
}

.subscribe input[type="submit"] {
  padding: 13px 19px;
}

.map {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
  background: #f7f1d9 url(../images/map.jpg) no-repeat 50% 50%;
  background-size: 100%;
}

.map::before {
  position: absolute;
  content: "";
  display: block;
  width: 80px;
  height: 140px;
  top: 30%;
  left: 21%;
  background-image: url(../images/pin.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80px 140px;
}

.map .adress {
  display: block;
  width: 300px;
  padding: 30px 25px;
  position: absolute;
  top: 20%;
  left: 68%;
  text-align: left;
  background-color: #fff;
}

.adress p {
  margin: 0;
  margin-right: 33.33%;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

.adress span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.adress .adress-btn {
  padding: 13px 28px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

footer .footer-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 16.33%;
}

.footer-socials .socials {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  background-color: #fff;
  opacity: 0.8;
}

.socials.socials-twitter {
  background: url(../images/twitter.png) no-repeat 50% 50%;
}

.socials.socials-insta {
  background: url(../images/insta.png) no-repeat 50% 50%;
}

.socials.socials-fb {
  background: url(../images/fb.png) no-repeat 50% 50%;
}

.socials.socials-vk {
  background: url(../images/vk.png) no-repeat 50% 50%;
}

footer .footer-about-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 33.33%;
}

footer .footer-copywrite {
  width: 33.33%;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-filter {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  align-items: center;
}

.paginator {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
}
